<% if @user.errors.any? %>
<% @user.errors.full_messages.each do |msg| %>
<div class="text-center">
	<%= msg %>
</div>
<% end %>
<% end %>
<div class="main-login main-center">
	<%= form_with(model:@user,local:true,class: 'form-horizontal') do |f|  %>
	
	<div class="form-group">
		<label for="name" class="cols-sm-2 control-label">Your Name</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
				<%= f.text_field :name ,class:'form-control'%>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<label for="email" class="cols-sm-2 control-label">Your Email</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
				<%= f.email_field :email ,class:'form-control'%>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<label for="password" class="cols-sm-2 control-label">Password</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
				<%= f.password_field :password ,class:'form-control'%>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
		<div class="cols-sm-10">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
				<%= f.password_field :password_confirmation ,class:'form-control' %>
			</div>
		</div>
	</div>
	
	<%= f.submit '登録' ,class:'btn btn-primary'%>
	
	<% end %>
</div>
<hr />
</div>